<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroMazing</title>

    <link rel="stylesheet" href="../../Public/css/main.css">
    <link rel="stylesheet" href="../../Public/css/animation.css">
    <link rel="stylesheet" href="../../Public/css/page-landing.css">
    <link rel="icon" href="../../Public/assets/agromazing-icon.jpeg">

</head>

<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img 
                class="animate-up"
                id="logo"
                src="../../Public/assets/LOGO-SEM-NOME-2.png" 
                alt="CompassLogo">

                <div class="animate-up location">
                    <strong>AgroMazing</strong>
                    <p>Pensando fora da caixa para facilitar sua vida :D</p>
                </div>
            </header>
            <main>
                <h1 class="animate-up " >Conectando o campo às inovações</h1>
                <section class="visit">
                    <p class="animate-up ">Busque as melhores oportunidades de mercado próximas a você</p>
                    <a
                    class="animate-up "
                     href="../views/services.html">
                        <img src="../../Public/assets/compass.svg" alt="Ir para">
                    </a>
                </section>

            </main>
        </div>
    </div>
    
</body>
</html>